/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
/*
h1 {
font-size: 1.5rem;
}

blockquote {
font-style: italic;
}

h2 {
font-size: 1.4rem;
}

h3 {
font-size: 1.2rem;
}

h5 {
font-size: 1rem; font-weight: 100;
}

p {
font-size: 1rem;
}
*/






/**umb_name:SEO - Texto oculto*/
.SEOTextoOculto{display: block;
text-indent: -9999px;
overflow: hidden;}

/**umb_name:Home - Título*/
.HomeTitulo{font-size: 55px !important;}

/**umb_name:Genéricas - Título*/
.GenericasTitulo{text-align: center;
font-size: 36px;
font-family: 'Open Sans',sans-serif;}