﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var site = @CurrentPage.Site();
}

<div id="footer">
    <div class="container">
         <ul id="logos" class="nav nav-pills pull-left">
            <li class="icp"><a href="javascript:void(0)">ICP Brasil</a></li>
            <li class="siteseguro"><a href="javascript:vopenw()">Site Seguro Certisign</a></li>
        </ul>
		<p class="company-info text-right pull-right"><span class="dateTime">@DateTime.Now.Year ©</span> <span class="copyright"></span></p>
    </div>
</div>
