﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{  
    var site = CurrentPage.Site();
}

<div id="header" class="navbar navbar-default navbar-fixed-top header">
    <div class="container" ng-controller="MasterController">
        <div class="navbar-header">
            <button class="btn-mobile-nav" ng-click="ToggleMobileMenu()">
                <i class="fal fa-bars icon-mobile-nav" name="menu-outline"></i>
                <i class="fal fa-times icon-mobile-nav" name="close-outline"></i>
            </button>

            <a class="logo" href="/">@site.name</a>

            <div id="header-menu" class="navigation_nav">
                <ul class="nav navbar-nav top-menu">
                    <li class=" dropdown-submenu">
                        <a ng-if="!Logins.ShowLogins" href="/Home/Login" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="acess-my-account">
                            <i class="fal fa-fw fa-user-circle"></i> Acessar Minha Conta
                        </a>
                        <a ng-if="Logins.ShowLogins" class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="acess-my-account-dropdown">
                            <i class="fal fa-fw fa-user-circle"></i> Acessar Minha Conta
                        </a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a ng-if="Logins.certificado" href="/Home/Login" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="acess-by-cerficate">Certificado digital</a></li>
                            <li><a ng-if="Logins.email" href="/Home/LoginMail" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="acess-by-email">E-mail</a></li>
                            <li><a ng-if="Logins.mobileId" href="/Home/LoginMobileId" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="acess-by-mobileId">mobileID</a></li>
                            <li><a ng-if="Logins.remoteId" href="/Home/LoginRemoteId" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="acess-by-remoteId">remoteID</a></li>
                            <li><a ng-if="Logins.oAuthEnabled" href="/oauth/challenge" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="acess-by-oauth">{{Logins.oAuthLabel || 'OAuth'}}</a></li>
                        </ul>
                    </li>
                    <li ng-show="EnableEmailRegister || EnableCertificateRegister"><a href="{{experimentarLink}}" id="link-experimentar" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="try-button">Cadastre-se</a></li>
                    <li><a href="/VerificadorAssinaturas/Verificador" id="link-verificar" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="verify-document-signatures">Verificar assinaturas</a></li>
                </ul>
                <hr class="visible-xs">
                <ul class="nav navbar-nav tools">
                    <li class="help hidden-xs">
                        <a class="icon" href="/Info/Contato" title="Fale Conosco" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="help-button">
                            <i class="fal fa-question-circle"></i> <span>Fale Conosco</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="/Info/Contato" analytics-on analytics-event="header" analytics-category="public-area" analytics-label="contact-us"><i class="fal fa-headset"></i> Fale Conosco</a>
                    </li>
                    <li class="visible-xs">
                        <a analytics-on analytics-event="header" analytics-category="public-area" analytics-label="faq" href="/Info/PerguntasFrequentes"><i class="fal fa-question-circle"></i> Perguntas frequentes</a>
                    </li>
                    <li class="visible-xs">
                        <a analytics-on analytics-event="pre-footer" analytics-category="public-area" analytics-label="privacy-policy" href="/Info/PoliticaPrivacidade">Política de privacidade</a>
                    </li>
                    <li class="visible-xs">
                        <a analytics-on analytics-event="pre-footer" analytics-category="public-area" analytics-label="privacy-policy" href="/Site/politicaprivacidade">Política de privacidade</a>
                    </li>
                    <li class="visible-xs">
                        <a analytics-on analytics-event="header" analytics-category="public-area" analytics-label="terms-of-use" href="/Info/TermosDeUso"><i class="fal fa-file-alt"></i> Termos de Uso</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>