﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web
@{ 
    var site = CurrentPage.Site();
    var siteModel = Model.Content.Site();
    var selection = siteModel.Children.Where(x => x.IsVisible()).ToArray();
}

<div id="prefooter" class="hidden-xs">
	<div class="container">
		<ul class="links">
			<li><a analytics-on analytics-event="pre-footer" analytics-category="public-area" analytics-label="help-button" href="/Info/Contato">Fale Conosco</a></li>
			<li><a analytics-on analytics-event="pre-footer" analytics-category="public-area" analytics-label="faq" href="/Info/PerguntasFrequentes">Perguntas frequentes</a></li>
            <li><a analytics-on analytics-event="pre-footer" analytics-category="public-area" analytics-label="cookie-policy"href="javascript:void(0)" onclick="window.sendAdoptCommand('open')">Política de cookies</a></li>
            <li><a analytics-on analytics-event="pre-footer" analytics-category="public-area" analytics-label="privacy-policy" href="/Info/PoliticaPrivacidade">Política de privacidade</a></li>
			<li><a analytics-on analytics-event="pre-footer" analytics-category="public-area" analytics-label="privacy-policy" href="/Site/politicaprivacidade">Política de privacidade</a></li>
			<li><a analytics-on analytics-event="pre-footer" analytics-category="public-area" analytics-label="terms-of-use" href="/Info/TermosDeUso">Termos de Uso</a></li>
		</ul>
		<div class="powered"><span class="hidden-xs">Powered by</span> Certisign</div>
	</div>
</div>

@*
<div id="prefooter" class="hidden-xs">
    <div class="container text-center">

        @if (selection.Length > 0)
        {
            <ul class="nav navbar-nav links">
            @foreach (var item in selection)
            {
            <li>
                <a href="@item.Url">@item.Name</a>
            </li>
             }
            </ul>
        }
        <div class="powered"><span class="hidden-xs">Powered by</span> Certisign</div>
    </div>
</div>
*@