﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits UmbracoViewPage
@using Umbraco.Web.Models

@{
    string homeListId = "homeStyledList";
    IEnumerable<IPublishedContent> homeList = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>(homeListId);
}

<div ng-controller="HomeController" class="simple-home ng-scope">
<div id="highlight" class="content-strip">
    <div class="blue">

    </div>
	<div class="container bg">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h1>@Umbraco.Field("highlightText")</h1>
				<h2>@Umbraco.Field("highlightText2")</h2>
			</div>
		</div>

		@if (homeList != null && homeList.Any())
		{
		<div class="row text-center">
			<div class="col-lg-12">
                <div class="row">
                    @{
                        var additionalClassForFirstItem = "col-md-offset-1";
                        foreach (IPublishedContent list in homeList.Where(x => x.IsVisible()))
                        {
                            string text = list.GetPropertyValue<string>("listText");
                            string style = list.GetPropertyValue<string>("listItemStyle");

                            <div class="col-md-2 text-center @additionalClassForFirstItem">
                                <div class="circle"><i class="@style"></i></div>
                                <p>@text</p>
                            </div>
                            if (!string.IsNullOrEmpty(additionalClassForFirstItem))
                            {
                                additionalClassForFirstItem = string.Empty;
                            }
                        }
                    }
                </div>
			</div>
		</div>

		}
	</div>
</div>
</div>