@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits UmbracoViewPage
@using Umbraco.Web.Models

@{
    string homeListId = "homeStyledList";
    IEnumerable<IPublishedContent> homeList = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>(homeListId);
}


<div id="highlight" class="content-strip">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="assine">@Umbraco.Field("highlightText")</h1>
                <div class="description">
                    <p>@Umbraco.Field("highlightText2")</p>
                        <ul class="list-styled color-accent-3">
                        @{
                            foreach (IPublishedContent list in homeList.Where(x => x.IsVisible()))
                            {
                                string text = list.GetPropertyValue<string>("listText");

                                <li>@text</li>
                            }
                        }
                        </ul>

                </div>
            </div>
            <div class="col-md-6">
                <div class="video">
                    <div class="iframe-container">
                            <iframe width="464" height="261" src="@Umbraco.Field("homeVideoLink")" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /highlight -->