﻿@using System.Configuration
@using umbraco.cms.businesslogic.web;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var site = CurrentPage.Site();
	var hostName = Domain.GetDomainsById(site.id)[0].Name;
	var siteModel = Model.Content.Site();
	var selection = siteModel.Children.Where(x => x.IsVisible());
}

<!DOCTYPE html>
<html id="ng-app" ng-app="eAssinatura" ng-strict-di lang="pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width,height=device-height">
    @if (site.smartBannerEnabled)
    {
        <!-- Start smartBanner configuration -->
        <meta name="smartbanner:title" content="@Umbraco.Field("smartBannerAppTitle")">
        <meta name="smartbanner:author" content="Certisign Certificadora Digital">
        <meta name="smartbanner:price" content="@Umbraco.Field("smartBannerPrice") ">
        <meta name="smartbanner:price-suffix-apple" content="- @Umbraco.Field("smartBannerPriceSuffixApple")">
        <meta name="smartbanner:price-suffix-google" content="- @Umbraco.Field("smartBannerPriceSuffixAndroid")">
        <meta name="smartbanner:button" content="@Umbraco.Field("smartBannerGoToStore")">
        <meta name="smartbanner:button-url-apple" content="https://itunes.apple.com/us/app/certisign-signapp/id1200797745?mt=8">
        <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=br.com.portaldeassinaturas.hybrid">
        <meta name="smartbanner:enabled-platforms" content="android,ios">
        <!-- End smartBanner configuration -->
    }
    <meta name="title" content="@Umbraco.Field("seoTitle", altFieldAlias:"pageName") | @site.siteTitle">
    <meta name="description" content="@Umbraco.Field("seoDescription")">
    <meta name="adopt-website-id" content="0f760e4a-d453-4bfc-976a-7b0cfccf41c5" />
    <title>@Umbraco.Field("seoTitle", altFieldAlias: "pageName") | @site.siteTitle</title>
    <link href="//@hostName/Content/themes/shared/images/favicon2.ico" rel="Shortcut Icon">
    <link href="//@hostName/Content/bootstrap/bootstrap" rel="stylesheet">
    <link href="//@hostName/Style/intlTelInput" rel="stylesheet">
    <link href="//@hostName/Content/themes/shared/fonts/font-awesome/css/css" rel="stylesheet">
    <link href="//@hostName/Content/themes/shared/fonts/poppins/css/css" rel="stylesheet">
    <link href="//@hostName/Content/themes/shared/fonts/open-sans/css/css" rel="stylesheet">
    <link href="//@hostName/Content/themes/shared/css" rel="stylesheet">
    <link href="//@hostName/Style/tinymce" rel="stylesheet">
    <link href="/site/templatefeaturescss" rel="stylesheet">
    <link href="/site/templatecss" rel="stylesheet">
    <link href="/site/css/rte.css" rel="stylesheet">
    @if (site.HasValue("stylesheetFile"))
    {
        <link href="@site.stylesheetFile.Url" rel="stylesheet">
    }
    <link rel="canonical" href="http://@hostName/Site/">
    <script async src="//@hostName/bundles/google-analytics"></script>
    <script async src="//@hostName/bundles/google-tag-manager"></script>
    <script type="text/javascript" src="//@hostName/scripts/css3-mediaqueries.js"></script>
    <!--[if lt IE 9]>
    <script src="//@hostName/scripts/html5shiv.js" type="text/javascript"></script>
    <script src="//@hostName/scripts/respond.js" type="text/javascript"></script>
    <![endif]-->
    <script nonce="xzMCQy9cMHhZFeao35BWxw">
        var server = '@ConfigurationManager.AppSettings["Server"]';
    </script>
    <link href="//@hostName/Content/angular/angular" rel="stylesheet">
    <script src="//@hostName/bundles/antiClickjack"></script>
</head>
<body class="home-page" ng-intro-autorefresh="true" ng-intro-options="TourOptions" ng-intro-method="StartTour" ng-intro-exit-method="ExitTour" ng-intro-oncomplete="TourCompletedEvent" ng-intro-onexit="TourExitEvent" ng-intro-onchange="TourChangeEvent">

    <!-- Header -->
    @Html.Partial("LayoutHeader")
    <!-- Header -->

    <div id="content">
        @RenderBody()
    </div>

    <!-- prefooter -->
    @{Html.RenderPartial("PreFooterNav");}
    <!-- /prefooter -->
    <!-- footer -->
    @{Html.RenderPartial("LayoutFooter");}
    <!-- /footer -->

    <script src="//@hostName/bundles/modernizr"></script>
    <!--[if lt IE 9]>
    <script src="//@hostName/bundles/jquery-1_11_0"></script>
    <script src="//@hostName/bundles/upload-es5"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="//@hostName/bundles/jquery"></script>
    <!--<![endif]-->
    <script src="//@hostName/bundles/spin"></script>
    <script src="//@hostName/bundles/angular"></script>
    <script src="//@hostName/bundles/upload"></script>
    <script src="//@hostName/bundles/bootstrap"></script>
    <script src="//@hostName/bundles/uiBootstrap"></script>
    <script src="//@hostName/bundles/shared/jqueryplugins"></script>
    <script src="//@hostName/bundles/shared/jqueryplugins_pt-BR"></script>
    <script src="//@hostName/bundles/recaptcha"></script>
    <script src="//@hostName/bundles/smartbanner"></script>
    <script src="//@hostName/bundles/underscorejs"></script>
    <script src="//@hostName/bundles/tinymce"></script>
    <script src="//@hostName/bundles/b2b/jqueryplugins"></script>
    <script src="//@hostName/bundles/angular-locale_pt-br"></script>
    <script src="//@hostName/bundles/bootstrap-datepicker_pt-BR"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            Portal.Header();
            Portal.Notifications();
            Portal.ChangeBootstrapBehavior();
        });
    </script>
    <script src="//@hostName/bundles/angulartics"></script>
    <script src="//@hostName/bundles/jstz"></script>
    <script src="//@hostName/bundles/jstz_pt-BR"></script>
    <script src="//@hostName/bundles/master"></script>
    <script src="//@hostName/bundles/master_pt-BR"></script>

    <script src="//@hostName/bundles/home"></script>
    <script src="//@hostName/bundles/home_pt-BR"></script>
    <script src="//@hostName/bundles/solicitarMaisDocumentosDialog"></script>
    <script src="//@hostName/bundles/solicitarMaisDocumentosDialog_pt-BR"></script>
    <script src="//@hostName/bundles/youtube-lazyload"></script>
    <script nonce="_Oe6mYoxuphtWurmIhLy6A">
        jQuery.globalEval = function () { };
    </script>
    <script src="//tag.goadopt.io/injector.js?website_code=0f760e4a-d453-4bfc-976a-7b0cfccf41c5" class="adopt-injector"></script>
    <script>window.adoptHideAfterConsent = true;</script>
    <script src="/Site/TemplateJs" type="text/javascript"></script>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TDZ6BV8" height="0" width="0" style="display: none; visibility: hidden"></iframe>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGXXL9Q" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
</body>
</html>