﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@{
	var selection = CurrentPage.Children();
}
<div class="simple-home">
    <div id="faq" class="content-strip">
        <div class="container">
            <h1 class="text-center">Perguntas frequentes</h1>
            <div class="row">
                <!-- Nav tabs category -->
                <div class="col-lg-3 col-md-4">
                    <div class="list-group" id="category-tabs">
                        <a href="#faq-cat-1" data-toggle="tab" class="list-group-item">Acesso ao Portal de Assinaturas</a>
                        <a href="#faq-cat-2" data-toggle="tab" class="list-group-item">Primeiros passos</a>
                        <a href="#faq-cat-3" data-toggle="tab" class="list-group-item">Tipos de documentos</a>
                        <a href="#faq-cat-4" data-toggle="tab" class="list-group-item">Submiss&#227;o de documentos</a>
                        <a href="#faq-cat-5" data-toggle="tab" class="list-group-item">Fluxo de assinaturas</a>
                        <a href="#faq-cat-6" data-toggle="tab" class="list-group-item">Verifica&#231;&#227;o de assinaturas</a>
                        <a href="#faq-cat-7" data-toggle="tab" class="list-group-item">Conceitos de assinatura digital</a>
                        <a href="#faq-cat-8" data-toggle="tab" class="list-group-item">Assinatura digital na pr&#225;tica</a>
                        <a href="#faq-cat-9" data-toggle="tab" class="list-group-item">Seguran&#231;a com o certificado digital</a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <!-- Tab panes -->
                    <div class="tab-content faq-cat-content">
                        <div class="tab-pane" id="faq-cat-1">
                            <div class="panel-group" id="accordion-cat-1">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1" class="collapsed">
                                            <h4 class="panel-title">
                                                Quais s&#227;o os pr&#233;-requisitos para acessar o Portal de Assinaturas?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Para usar o Portal de  Assinaturas são necessários alguns pré-requisitos específicos para cada sistema  operacional.</p>
                                    <p><strong>a) Atualização dos Drivers</strong></p>
                                    <p>Para instalar os drives  necessário:</p>
                                    <p><a href="https://www.certisign.com.br/atendimento-suporte/downloads" target="_blank">https://www.certisign.com.br/atendimento-suporte/downloads</a></p>
                                    <p>
                                        Escolha o sistema  operacional.<br />
                                        Escolha o modelo  adquirido do token ou leitora.<br />
                                        Baixe e instale.<br />
                                        Abra novamente o browser  e tente novamente o acesso.
                                    </p>
                                    <p><strong>b) Navegador</strong></p>
                                    <p>
                                        O Portal é compatível  com os navegadores principais como Internet Explorer, Mozilla Firefox e Google  Chrome.<strong></strong>
                                        Mozilla Firefox: é  utilizado um Applet em Java para reconhecer e buscar seu certificado. O Java  tem que estar na versão 8u92 ou inferior. <a href="https://www.java.com" target="_blank">https://www.java.com</a>
                                    </p>
                                    <p>Internet Explorer e  Google Chrome: é utilizado um Plugin para reconhecer e buscar seu certificado: <a href="https://get.websignerplugin.com" target="_blank">https://get.websignerplugin.com</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2" class="collapsed">
                                            <h4 class="panel-title">
                                                Quais s&#227;o os pr&#233;-requisitos para acessar o Portal de Assinaturas no MAC / sistema iOS?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Para acessar o Portal de Assinaturas no sistema iOS, há os seguintes procedimentos.</p>
                                    <p>A instalação do SAC 8.2 SP1 tem os seguintes pré-requisitos:</p>
                                    <ul>
                                        <li>Estar logado como usuário administrador no sistema operacional.</li>
                                        <li>Não possuir nenhuma outra versão do Safenet Authentication Client instalada,caso contrário, a instalação falhará. Caso tenha dúvidas sobre como remover ou não saiba se possui versões antigas instaladas, entre em contato com o SAC da Certisign.</li>
                                        <li>Não deixar nenhum token criptográfico conectado às portas USB durante ainstalação.</li>
                                    </ul>
                                    <p>Ambientes homologados:</p>
                                    <ul>
                                        <li>MAC OS 10.6.7</li>
                                        <li>MAC OS 10.7.x</li>
                                        <li>MAC OS 10.8</li>
                                    </ul>
                                    <p>Navegadores Homologados</p>
                                    <ul>
                                        <li>Mozilla Firefox 16 (ou superior)</li>
                                    </ul>
                                    <p>Tokens Homologados</p>
                                    <ul>
                                        <li>eToken PRO (Aladdin 72K JAVA)</li>
                                        <li>eToken PRO (Aladdin 64K)</li>
                                        <li>eToken PRO (Aladdin 32K 4.2B)</li>
                                        <li>Ikey2032</li>
                                        <li>Ikey4000</li>
                                    </ul>
                                    <p>
                                        Instalação<br />
                                        Para instalar o SAFENET basta baixar pelo link <a href="http://www.downloadcertisign.com.br/site/midias/tokens/safenet/Macintosh/sac8.2mac.zip" target="_blank">http://www.downloadcertisign.com.br/site/midias/tokens/safenet/Macintosh/sac8.2mac.zip</a> descompactar e fazer a instalação.
                                    </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3" class="collapsed">
                                            <h4 class="panel-title">
                                                Como limpo o cache do navegador e do Java?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                        Se o navegador for <strong><u>Internet Explorer</u></strong><br />
                                        Clique em Ferramentas na barra de menus do Internet Explorer (caso ela não esteja visível, aperta a tecla Alt);<br />
                                        Clique em Opções da Internet;<br />
                                        Clique na guia Geral;<br />
                                        Clique no botão Excluir na seção Histórico de Navegação;<br />
                                        Selecione todas as opções e clique em excluir.
                                    </p>
                                    <p>
                                        Se o navegador for <strong><u>Firefox</u></strong><br />
                                        Clique em Editar na barra de menus do Firefox;<br />
                                        Clique em Preferências no menu Editar;<br />
                                        Expanda o menu Avançado clicando no sinal de adição;<br />
                                        Clique em Cache;<br />
                                        Clique no botão Limpar cache;
                                    </p>
                                    <p>
                                        Se o navegador for <strong><u>Chrome</u></strong><br />
                                        Clique no ícone com três linhas na barra de ferramentas do navegador, no canto superior direito;<br />
                                        Selecione Histórico;<br />
                                        Clique em Limpar dados de navegação;<br />
                                        Na caixa de diálogo exibida, marque as caixas de seleção dos tipos de informações que deseja remover;<br />
                                        Use o menu na parte superior para selecionar a quantidade de dados que deseja excluir. Selecione o início do tempo para excluir tudo;<br />
                                        Clique em Limpar dados de navegação;
                                    </p>
                                    <p>
                                        <strong><u>&nbsp;Limpeza do cache do Java&nbsp; </u></strong><br>
                                        Acesse o console do Java no painel de controle do Windows;<br />
                                        Clique no botão Deletar Arquivos;<br />
                                        Marque as 3 opções e clique em ok.
                                    </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4" class="collapsed">
                                            <h4 class="panel-title">
                                                Meu Token bloqueou, o que fa&#231;o?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                        Se o seu token foi  adquirido na Certisign, recomendamos o contato com o nosso suporte técnico  através do nosso Serviço de Atendimento ao Cliente.&nbsp;<br />
                                        <br />
                                        Email:&nbsp;<br />
                                        <a href="mailto:sac@certisign.com.br">sac@certisign.com.br</a>&nbsp;<br />
                                        <br />
                                        Atendimento Online:&nbsp;<br />
                                        <a href="https://gestao.certisign.com.br/chat/sac" target="_blank">https://gestao.certisign.com.br/chat/sac</a> <br />
                                        11 3478-4444
                                    </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="faq-cat-2">
                            <div class="panel-group" id="accordion-cat-2">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1" class="collapsed">
                                            <h4 class="panel-title">
                                                Quais os benef&#237;cios de usar o Portal de Assinaturas?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                        O Portal de Assinaturas Certisign é uma plataforma de serviços em nuvem, onde é possível fazer o upload do documento, criar o fluxo de assinaturas, assinar com validade jurídica e transmitir o documento. <br />
                                        Benefícios:<br />
                                        - Economia de tempo e dinheiro;<br />
                                        - Mobilidade<br />
                                        - Segurança Certisign<br />
                                        - Assinaturas com validade jurídica.
                                    </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2" class="collapsed">
                                            <h4 class="panel-title">
                                                Recebi um e-mail marketing com uma bonifica&#231;&#227;o inicial de 10 documentos, e n&#227;o as encontro. Como fa&#231;o?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Para a verificação dos créditos disponibilizados, ao efetuar o acesso ao Portal clique no botão "$" no canto superior da página para acessar os créditos.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="faq-cat-3">
                            <div class="panel-group" id="accordion-cat-3">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-1" class="collapsed">
                                            <h4 class="panel-title">
                                                O que &#233; um documento Unilateral? Em que situa&#231;&#245;es posso us&#225;-lo?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-3-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                        O documento unilateral é o tipo de documento que utiliza o padrão de assinaturas CAdES e permite incluir apenas um signatário.
                                    </p>
                                    <p>
                                        Podemos utilizá-lo em procurações eletrônicas, termos de responsabilidade técnica (arquitetos e engenheiros), laudos médicos, prescrições, etc.
                                    </p>
                                    <p>
                                        Características do Unilateral:
                                    </p>
                                    <ul>
                                        <li>Armazenamento por até 12 meses</li>
                                        <li>1 assinatura</li>
                                        <li>Arquivos com até 5 MB</li>
                                        <li>Até 1 anexos(s)</li>
                                    </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-2" class="collapsed">
                                            <h4 class="panel-title">
                                                O que &#233; um documento Multilateral? Em que situa&#231;&#245;es posso us&#225;-lo?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-3-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>O documento multilateral é o tipo de documento utiliza o padrão de assinaturas CAdES e permite incluir vários signatários. Esse documento é para fluxos maiores. </p>
                                    <p>Podemos utilizá-la em um documento de compra e venda, acordos comerciais entre várias partes, atas de reunião, laudos médicos que envolvam vários especialistas, etc.</p>
                                    <p>Características do Multilateral:</p>
                                    <ul>
                                        <li>Armazenamento por até 12 meses</li>
                                        <li>Até 10 assinatura(s)</li>
                                        <li>Arquivos com até 10 MB</li>
                                        <li>Até 1 anexos(s)</li>
                                    </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-3" class="collapsed">
                                            <h4 class="panel-title">
                                                O que &#233; um documento Unilateral sem protocolo? Em que situa&#231;&#245;es posso us&#225;-lo?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-3-sub-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>O documento unilateral sem protocolo é o tipo de documento que utiliza o padrão de assinaturas PAdES e permite incluir apenas um signatário. </p>
                                    <p>Podemos utilizá-lo em procurações eletrônicas, termos de responsabilidade técnica (arquitetos e engenheiros), laudos médicos, prescrições, etc.</p>
                                    <p>Características do Unilateral PAdES:</p>
                                    <ul>
                                        <li>1 assinatura</li>
                                        <li>Arquivos com até 5 MB</li>
                                        <li>Até 1 anexos(s)</li>
                                        <li>Arquivos PDF</li>
                                    </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-4" class="collapsed">
                                            <h4 class="panel-title">
                                                O que &#233; um documento Multilateral sem protocolo? Em que situa&#231;&#245;es posso us&#225;-lo?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-3-sub-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                    <p>O documento multilateral sem protocolo é o tipo de documento que utiliza o padrão de assinaturas PAdES e permite incluir vários signatários. Esse documento é para fluxos maiores. </p>
                                    <p>Podemos utilizá-la em um documento de compra e venda, acordos comerciais entre várias partes, atas de reunião, laudos médicos que envolvam vários especialistas, etc.</p>
                                    <p>Características do Multilateral PAdES:</p>
                                    <ul>
                                        <li>Até 10 assinatura(s)</li>
                                        <li>Arquivos com até 10 MB</li>
                                        <li>Até 1 anexos(s)</li>
                                        <li>Arquivos PDF</li>
                                    </ul>
                                </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-5" class="collapsed">
                                            <h4 class="panel-title">
                                                Qual a diferen&#231;a entre documento com e sem protocolo?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-3-sub-5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>O termo com ou sem protocolo está relacionado com o padrão de assinatura utilizado. Nos documentos com protocolo o padrão utilizado é o CAdES , já nos sem protocolo o padrão é o PAdES.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-3" href="#faq-cat-3-sub-6" class="collapsed">
                                            <h4 class="panel-title">
                                                O que &#233; o documento Manifesto?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-3-sub-6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Manifesto é um documento cópia do original, mas com marcações que indicam quem assinou o documento e onde é possível resgatá-lo, através de código de barras, QRCode e link, o documento original e suas assinaturas. Caso esse documento seja impresso é simples e fácil de resgatar seu original e validar suas assinaturas no Portal de Assinaturas.</p>
                                    <p>Como esse documento Manifesto é um documento no formato PDF, nem sempre conseguimos fazer uma cópia automática do conteúdo original, por isso, em casos como arquivos de imagens ou vídeos, o documento manifesto pode conter apenas uma página, contendo apenas as informações de rastreabilidade do documento original e quem o assinou.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="faq-cat-4">
                            <div class="panel-group" id="accordion-cat-4">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-1" class="collapsed">
                                            <h4 class="panel-title">
                                                Os documentos submetidos no Portal de Assinaturas devem ser documentos em PDF ?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-4-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>A extensão PDF é obrigatória apenas para documentos do tipo &quot;Unilateral sem protocolo&quot; e &quot;Multilateral sem protocolo&quot;.</p>
                                    <p>O Portal de Assinaturas Certisign permite você utilizar qualquer extensão, mas quanto a representação tem limitação.&nbsp;Dependendo do tipo de documento escolhido para assinar você terá uma visualização da assinatura diferente.</p>
                                    <p>Nos tipos de documentos Sem Protocolo, por usar o padrão PAdES, será possível ver a representação visual da assinatura dentro do próprio documento assinado. Nos demais tipos de documentos você verá um documento, chamado de manifesto ou protocolo, que é uma cópia do documento original, mas com informações de rastreabilidade da assinatura realizada.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-2" class="collapsed">
                                            <h4 class="panel-title">
                                                Quais formatos de documentos podem ser submetidos no Portal de Assinaturas Certisign?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-4-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Qualquer tipo de arquivos podem ser assinados no Portal de Assinaturas Certisign.</p>
                                    <p>Os mais comuns são pdf, docx, doc, zip, entre outros.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-4" href="#faq-cat-4-sub-3" class="collapsed">
                                            <h4 class="panel-title">
                                                Um documento com cinco folhas representa um documento ou cinco documentos?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-4-sub-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>No Portal de Assinaturas Certisign utilizamos o sistema de submissão de documentos, ou seja independente da quantidade de páginas.</p>
                                    <p>Exemplo: Caso submeta um documento com 10 folhas para assinatura é considerado o documento, não a quantidade de páginas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="faq-cat-5">
                            <div class="panel-group" id="accordion-cat-5">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-1" class="collapsed">
                                            <h4 class="panel-title">
                                                Como funciona o fluxo de assinaturas no Portal de Assinaturas?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-5-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>O fluxo de assinaturas no Portal de Assinaturas Certisign é o processo de coleta de assinaturas, cujo fluxo é composto pelos participantes que necessitam tomar alguma ação em relação a um documento específico.</p>
                                    <p>Para cada participante de um fluxo de assinaturas é possível definir o título dessa pessoa no documento e o que esse participante deve fazer. Um fluxo ainda pode ou não ter uma ordem de ação de cada assinante. Por fim, ainda é possível determinar quem deve receber o documento assinado ao final do fluxo.</p>

                                    <p>Títulos em um fluxo de assinaturas:</p>
                                    <ul>
                                        <li>Assinante: é o participante que acorda com o conteúdo do documento.</li>
                                        <li>Testemunha: é o participante que comprova que o conteúdo do documento foi acordado pelos assinantes.</li>
                                    </ul>
                                    <p>Ações possíveis para um participante de um fluxo de assinaturas:</p>
                                    <ul>
                                        <li>Assinar: gerar uma assinatura digital. Requer certificado digital.</li>
                                        <li>Assinar eletronicamente: gerar uma assinatura eletrônica. Não requer um certificado digital.</li>
                                        <li>Observar: acompanhar o andamento do fluxo. Não interfere no fluxo de assinaturas.</li>
                                        <li>Autorizar: autoriza a continuação do fluxo. Não interfere no fluxo de assinaturas.</li>
                                        <li>Aprovar: aprova ou não um fluxo de assinaturas. Caso desaprove o fluxo é reiniciado.</li>
                                    </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-2" class="collapsed">
                                            <h4 class="panel-title">
                                                Como fico sabendo que existem novos documentos para assinar?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-5-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>O Portal de Assinaturas Certisign envia notificações por e-mail, para cada integrante do fluxo criado, informando a disponibilidade do documento para visualização e assinatura.</p>
                                    <p>O usuário também pode se autenticar no Portal de Assinaturas Certisign e  consultar os documentos que dependem de sua assinatura.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-5" href="#faq-cat-5-sub-3" class="collapsed">
                                            <h4 class="panel-title">
                                                &#201; poss&#237;vel assinar documentos em lote?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-5-sub-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Sim, no Portal de Assinaturas Certisign você pode fazer upload de vários documentos de uma vez só e assinar todos com um único clique. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="faq-cat-6">
                            <div class="panel-group" id="accordion-cat-6">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-1" class="collapsed">
                                            <h4 class="panel-title">
                                                Quais formatos de assinaturas s&#227;o aceitos no verificador de assinaturas Certisign?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-6-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>O verificador de assinaturas Certisign é capaz de validar assinaturas CAdES e PAdES.</p>
                                    <p>Para verificar assinaturas CAdES você pode enviar o arquivo p7s, que acompanha o documento assinado, ou zip que contenha o p7s e o documento original dentro.</p>
                                  <p>Para verificar assinaturas PAdES basta você enviar o próprio pdf assinado.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-2" class="collapsed">
                                            <h4 class="panel-title">
                                                Posso verificar v&#225;rias assinaturas de uma s&#243; vez?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-6-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Sim, o verificador de assinaturas Certisign possui uma funcionalidade que permite o envio de várias assinaturas de uma só vez.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-3" class="collapsed">
                                            <h4 class="panel-title">
                                                Submeti meu arquivo p7s no verificador de assinaturas e a verifica&#231;&#227;o ocorreu sem pedir o documento original, como &#233; poss&#237;vel?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-6-sub-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>As assinaturas digitais no padrão CAdES podem ser attached ou detached, ou seja, podem ter o conteúdo assinado interno à sua estrutura ou externo.</p>
                                    <p>Se o verificador não pediu para que você enviasse o documento original junto com a assinatura (p7s), então sua assinatura é do tipo attached e o verificador reconheceu o conteúdo automaticamente. Para esse tipo de assinatura, ao final da verificação, o verificador disponibiliza para download o documento original, assim você pode conferir o que foi assinado.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-4" class="collapsed">
                                            <h4 class="panel-title">
                                                Submeti meu arquivo p7s no verificador de assinaturas e agora preciso enviar o documento original, por que &#224;s vezes preciso do original e outras vezes n&#227;o?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-6-sub-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>As assinaturas digitais no padrão CAdES podem ser attached ou detached, ou seja, podem ter o conteúdo assinado interno à sua estrutura ou externo. Se o verificador pediu para que você enviasse o documento original junto com a assinatura (p7s), então sua assinatura é do tipo detached e o verificador não tem como saber o que foi assinado sem que você envie o documento original. O verificador solicita o documento original para garantir que ele não sofreu nenhuma alteração após a realização da assinatura.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-6" href="#faq-cat-6-sub-5" class="collapsed">
                                            <h4 class="panel-title">
                                                Tenho um arquivo .zip da minha assinatura, posso us&#225;-lo para verificar minha assinatura?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-6-sub-5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Sim. Preferencialmente o verificador de assinaturas Certisign aceita o zip gerado pelo Portal de Assinaturas Certisign, mas ele também é capaz de reconhecer assinaturas dentro de um zip, desde que esse zip não contenha subpastas e nem mais de 3 arquivos internamente.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="faq-cat-7">
                            <div class="panel-group" id="accordion-cat-7">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-7" href="#faq-cat-7-sub-1" class="collapsed">
                                            <h4 class="panel-title">
                                                O que &#233; uma Assinatura Digital?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-7-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Assinatura digital é uma assinatura eletrônica que  usa um certificado digital para identificar o signatário. Conferindo às  assinaturas digitais as seguintes características:</p>
                                    <ul>
                                        <li>Autenticidade: uma assinatura digital é inequivocamente ligada ao certificado digital do signatário.</li>
                                        <li>Integridade: cada assinatura digital é vinculada a um documento eletrônico, dessa forma qualquer alteração sofrida pelo documento eletrônico será perceptível pela assinatura digital.</li>
                                        <li>Não-repúdio: uma assinatura digital feita enquanto o certificado digital do signatário for válido não pode ter sua autoria negada pelo signatário.</li>
                                    </ul>
                                    <p>No Portal de Assinaturas Certisign você assina seus documentos com certificados  digitais ICP-Brasil.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-7" href="#faq-cat-7-sub-2" class="collapsed">
                                            <h4 class="panel-title">
                                                Assinatura digital &#233; o mesmo que assinatura digitalizada?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-7-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Não, a digitalização de uma assinatura manuscrita é uma mera imagem e poderia ser facilmente copiada para outros documentos, portanto não tem nenhuma validade jurídica como meio de comprovação de autoria de um documento.</p>
                                    <p>Já a assinatura digital é resultado de uma operação matemática e não pode ser transferida. Cada assinatura digital é única e exclusiva para aquele documento assinado.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-7" href="#faq-cat-7-sub-3" class="collapsed">
                                            <h4 class="panel-title">
                                                O que significa N&#227;o-Rep&#250;dio?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-7-sub-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>O não repudio fornece provas de que um usuário realizou uma determinada ação, seu autor não poderá, por forças tecnológicas e legais, negar que seja o responsável por seu conteúdo.</p>
                                    <p>A tecnologia da Assinatura Digital da ICP-Brasil prevê essa capacidade.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-7" href="#faq-cat-7-sub-4" class="collapsed">
                                            <h4 class="panel-title">
                                                A assinatura digital confere sigilo ao documento eletr&#244;nico?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-7-sub-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>A assinatura digital não torna o documento eletrônico sigiloso, pois ele em si não é criptografado. O sigilo do documento eletrônico poderá ser resguardado mediante a cifragem da mensagem com a chave pública do destinatário, pois somente com o emprego de sua chave privada o documento poderá ser decifrado. Já a integridade e a comprovação da autoria são características primeiras do uso da certificação digital para assinar.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-7" href="#faq-cat-7-sub-5" class="collapsed">
                                            <h4 class="panel-title">
                                                O que &#233; PAdES?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-7-sub-5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>PDF Advanced Electronic Signature (PAdES) é um padrão internacional de assinatura digital exclusivo para arquivos PDF. Esse padrão é um dos padrões de assinaturas digitais aceitos pela ICP-Brasil</p>
                                    <p>PAdES - Arquivos no formato PDF, sem protocolo </p>
                                    <p>O padrão PAdES é recomendado para assinatura de documentos no formato PDF.</p>
                                    <p>Um dos principais diferenciais do PAdES é a representação visual da assinatura no próprio documento, permitindo o uso de imagens e outras informações do assinante - assemelhando-se à uma assinatura manual, colaborando com a sua aceitação.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-7" href="#faq-cat-7-sub-6" class="collapsed">
                                            <h4 class="panel-title">
                                                O que &#233; CAdES?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-7-sub-6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>CMS Advanced Electronic Signature (CAdES) é o padrão internacional mais difundido de todos. Esse padrão faz parte dos padrões de assinaturas digitais aceitos pela ICP-Brasil.</p>
                                    <p>Uma das características de sua grande aceitação é a capacidade de assinar qualquer tipo de arquivo digital. No entanto, esse padrão de assinatura produz um arquivo p7s, que não é de fácil visualização, por isso o Portal de Assinaturas produz um arquivo de manifesto dos documentos assinados por esse padrão.</p>
                                    <p>O manifesto de um documento assinado é um documento de rastreabilidade das assinaturas realizadas e do documento original. Esse manifesto contém códigos de verificação, código de barra e QRCode para que, mesmo impresso, você consiga acessar o documento original assinado.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="faq-cat-8">
                            <div class="panel-group" id="accordion-cat-8">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-1" class="collapsed">
                                            <h4 class="panel-title">
                                                Quais os tipos de documentos que o Portal de Assinaturas est&#225; preparado para assinar?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-8-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Qualquer tipo de arquivo ou, caso seu arquivo precise de privacidade, apenas o hash do arquivo através de assinaturas digitais no padrão CAdES, conforme as normas da ICP-Brasil;</p>
                                    <p>Documentos em formato PDF através de assinaturas digitais no padrão PAdES, conforme as normas da ICP-Brasil;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-2" class="collapsed">
                                            <h4 class="panel-title">
                                                O que acontece se o documento eletr&#244;nico for alterado ap&#243;s assinado digitalmente?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-8-sub-2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Como a assinatura digital é calculada a partir do documento assinado, se o documento sofrer qualquer modificação, por menor que seja, será detectada pelo computador. Assim, o documento e a assinatura digital perderão o vínculo. Ou seja: o documento eletrônico perderá o valor probatório.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-3" class="collapsed">
                                            <h4 class="panel-title">
                                                Um documento digitalizado assinado com Certificado Digital, pode ser descartado o f&#237;sico?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-8-sub-3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>A decisão de descartar o documento físico sempre dependerá de avaliação de regulamento específico, características do documento e gestão de riscos antes do efetivo descarte, pois caso o documento possua algum tipo de identificação mecânica ou gráfica de alguém esse documento não deverá ser descartado, pois o mesmo pode ser requisitado em seu formato de origem como por exemplo a apresentação de um contrato assinado na forma manuscrita, o qual poderá ser objeto de perícia judicial.</p>
                                    <p>Há situações em que órgãos ou entidades definem regras específicas para o descarte ou não de documentos após digitalizados e assinados digitalmente.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-4" class="collapsed">
                                            <h4 class="panel-title">
                                                O documento assinado digitalmente &#233; reconhecido da mesma forma que um documento assinado de forma manuscrita?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-8-sub-4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Conforme MP n° 2.200-2, os documentos eletrônicos assinados digitalmente com o uso de certificados emitidos no âmbito da ICP-Brasil têm a mesma validade jurídica que os documentos em papel com assinaturas manuscritas.</p>
                                    <p>É equivalente a uma assinatura física reconhecida por similaridade em cartório.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-5" class="collapsed">
                                            <h4 class="panel-title">
                                                Posso assinar um contrato misturando assinatura digital e manual?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-8-sub-5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>É possível utilizar-se da assinatura digital e assinatura de próprio punho no mesmo documento, é o que chamamos de assinatura hibrida.</p>
                                    <p>Nesse processo é recomendado um gerenciamento de risco para se precaver de problemas futuros efetuando a guarda do documento físico.</p>
                                    <p>No caso onde o cliente irá propor um contrato assinado de próprio punho, esse mesmo documento deve ser mantido a guarda e a cópia do mesmo assinado digitalmente.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-6" class="collapsed">
                                            <h4 class="panel-title">
                                                &#201; correto afirmar que cada pessoa pode ter uma assinatura digital?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-8-sub-6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Não, cada pessoa pode ter o seu próprio Certificado Digital e com ele produzir assinaturas digitais. A assinatura digital é o objeto resultante do ato de assinar um documento utilizando um certificado digital. Esse objeto resultante é um conjunto de bytes produzidos pela operação matemática que tem como entradas o documento original e a chave privada do assinante. Cada assinatura é única para cada documento, assim cada vez que você realizar uma assinatura ela será diferente para cada documento, mas sempre será possível provar que você foi o autor daquela assinatura. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-7" class="collapsed">
                                            <h4 class="panel-title">
                                                As testemunhas precisam ter certificado digital para assinar?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-8-sub-7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Sim, testemunhas assinam da mesma forma que o signatário, portanto devem possuir certificados digitais. A diferença é que a testemunha tem outra função legal no documento.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-8" href="#faq-cat-8-sub-8" class="collapsed">
                                            <h4 class="panel-title">
                                                Posso assinar um documento com um certificado de Pessoa Jur&#237;dica?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-8-sub-8" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Através do Portal de Assinaturas é possível assinar qualquer tipo de documento, basta possuir um certificado digital e-CPF, e-CNPJ e até mesmo um certificado NF-e válidos na ICP Brasil. </p>
                                    <p>Entretanto vale ressaltar que independente do certificado ser PJ, ele sempre estará associado a um PF e no documento será esse PF o signatário. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="faq-cat-9">
                            <div class="panel-group" id="accordion-cat-9">
                                <div class="panel panel-default panel-faq">
                                    <div class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#accordion-cat-9" href="#faq-cat-9-sub-1" class="collapsed">
                                            <h4 class="panel-title">
                                                Quais s&#227;o as medidas de seguran&#231;a que devem ser observadas ao utilizar certificados digitais?
                                                <span class="pull-right"></span>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="faq-cat-9-sub-1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>O Certificado Digital é um documento eletrônico que identifica o titular. Ele pode ser utilizado para gerar assinaturas digitais com validade jurídica equiparável com assinaturas manuscritas. Por isso, não confie a guarda e nem empreste o seu Certificado Digital ou suas senhas a terceiros. É importante mencionar que após a realização da assinatura não há como saber quem autorizou o uso do certificado, mas apenas saber qual certificado foi utilizado para assinar.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
